html {
  background-color: #e2e2e2;
  font-family: sans-serif;
}

.polaroid {
  margin: 0;
  padding: 10px;
  width: 250px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, .5);
  position: absolute;
  transition: all 200ms ease-out;
  display: inline-block;
}

.polaroid > img {
  display: block;
  width: 100%;
}

.polaroid > figcaption {
  color: #fff;
  text-shadow: 1px 1px 3px #000;
}

.polaroid:hover {
  transform: rotate(0deg);
  z-index: 5000;
}

body {
  position: relative;
}

body > :first-child {
  top: 5.5em;
  left: 10em;
  transform: rotate(-15deg);
}

body > :nth-child(2) {
  top: 8.5em;
  left: 20em;
  transform: rotate(9deg);
}

body > :last-child {
  top: 3.5em;
  left: 25em;
  transform: rotate(25deg);
}
