html {
  background-color: #e2e2e2;
  font-family: sans-serif;
}

.polaroid {
  margin: 0;
  padding: 10px;
  width: 250px;
  height: 152px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, .5);
  position: absolute;
  transition: all 200ms ease-out;
  text-align: center;
}

.polaroid > img {
  display: block;
  width: 100%;
}

.polaroid > figcaption {
  color: #fff;
  text-shadow: 1px 1px 3px #000;
}

.polaroid:hover {
  transform: rotate(0deg);
  z-index: 5000;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 1);
}

body {
  position: relative;
}

body > :first-child {
  top: 6.5em;
  left: 12em;
  transform: rotate(-10deg);
  z-index: 10;
}

body > :nth-child(2) {
  top: 9.5em;
  left: 18em;
  transform: rotate(5deg);
  z-index: 30;
}

body > :nth-child(3) {
  top: 6em;
  left: 24em;
  transform: rotate(35deg);
  z-index: 20;
}
